<section class="footer__modal">
  <div class="footer__modal-content">
    <span class="footer__close-btn">&times;</span>
    <div class="authors__gallery">
      <div class="authors__card">
        <img
          class="authors__image"
          src="./images/team/1GrzegorzKobuszewski.jpg"
          alt="Grzegorz Kobuszewski"
        />
        <p class="authors__name">Grzegorz Kobuszewski</p>
        <p class="authors__function">Team Leader</p>
      </div>
      <div class="authors__card">
        <img class="authors__image" src="./images/team/1MarzenaLojko.jpg" alt="Marzena Łojko" />
        <p class="authors__name">Paulina Cichowska</p>
        <p class="authors__function">Scrum Master</p>
      </div>
      <div class="authors__card">
        <img class="authors__image" src="./images/team/1JakubNowacki.jpg" alt="Jakub Nowacki" />
        <p class="authors__name">Jakub Nowacki</p>
        <p class="authors__function">Developer</p>
      </div>
      <div class="authors__card">
        <img class="authors__image" src="./images/team/1OlgaKopec.jpg" alt="Olga Kopeć" />
        <p class="authors__name">Olga Kopeć</p>
        <p class="authors__function">Developer</p>
      </div>
      <div class="authors__card">
        <img
          class="authors__image"
          src="./images/team/1DamianKowalczyk.jpg"
          alt="Damian Kowalczyk"
        />
        <p class="authors__name">Damian Kowalczyk</p>
        <p class="authors__function">Developer</p>
      </div>
      <div class="authors__card">
        <img
          class="authors__image"
          src="./images/team/1KatarzynaKazmierczak.jpg"
          alt="Katarzyna Kaźmierczak"
        />
        <p class="authors__name">Katarzyna Kaźmierczak</p>
        <p class="authors__function">Developer</p>
      </div>
      <div class="authors__card">
        <img class="authors__image" src="./images/team/1MarzenaLojko.jpg" alt="Marzena Łojko" />
        <p class="authors__name">Marzena Łojko</p>
        <p class="authors__function">Developer</p>
      </div>
      <div class="authors__card">
        <img class="authors__image" src="./images/team/1BartoszZygmunt.jpg" alt="Bartosz Zygmunt" />
        <p class="authors__name">Bartosz Zygmunt</p>
        <p class="authors__function">Developer</p>
      </div>
      <div class="authors__card">
        <img class="authors__image" src="./images/team/1EwaSawczynska.jpg" alt="Ewa Sawczyńska" />
        <p class="authors__name">Ewa Sawczyńska</p>
        <p class="authors__function">Developer</p>
      </div>
    </div>
  </div>
</section>
