<section class="footer__modal">
  <div class="footer__modal-content">
    <span class="footer__close-btn">&times;</span>
    <div class="authors__gallery">
      <div class="authors__card">
        <img
          class="authors__image"
          src="./images/team/1GrzegorzKobuszewski.jpg"
          alt="Grzegorz Kobuszewski"
        />
        <p class="authors__name">
          <a href="https://github.com/GrzegorzKobuszewski" class="authors__name--github"
            ><svg width="18" height="18">
              <use href="./images/github.svg#icon-github"></use></svg></a
          >Grzegorz Kobuszewski
        </p>
        <p class="authors__function">Team Leader</p>
      </div>
      <div class="authors__card">
        <img
          class="authors__image"
          src="./images/team/1PaulinaCichowska.jpg"
          alt="Paulina Cichowska"
        />
        <p class="authors__name">
          <a href="https://github.com/PaulinaCichowska" class="authors__name--github"
            ><svg width="18" height="18">
              <use href="./images/github.svg#icon-github"></use></svg></a
          >Paulina Cichowska
        </p>
        <p class="authors__function">Scrum Master</p>
      </div>
      <div class="authors__card">
        <img class="authors__image" src="./images/team/1JakubNowacki.jpg" alt="Jakub Nowacki" />
        <p class="authors__name">
          <a href="https://github.com/jakunowa" class="authors__name--github"
            ><svg width="18" height="18">
              <use href="./images/github.svg#icon-github"></use></svg></a
          >Jakub Nowacki
        </p>
        <p class="authors__function">Developer</p>
      </div>
      <div class="authors__card">
        <img class="authors__image" src="./images/team/1OlgaKopec.jpg" alt="Olga Kopeć" />
        <p class="authors__name">
          <a href="https://github.com/OlgaaKopec" class="authors__name--github"
            ><svg width="18" height="18">
              <use href="./images/github.svg#icon-github"></use></svg></a
          >Olga Kopeć
        </p>
        <p class="authors__function">Developer</p>
      </div>
      <div class="authors__card">
        <img
          class="authors__image"
          src="./images/team/1DamianKowalczyk.jpg"
          alt="Damian Kowalczyk"
        />
        <p class="authors__name">
          <a href="https://github.com/damianxk" class="authors__name--github"
            ><svg width="18" height="18">
              <use href="./images/github.svg#icon-github"></use></svg></a
          >Damian Kowalczyk
        </p>
        <p class="authors__function">Developer</p>
      </div>
      <div class="authors__card">
        <img
          class="authors__image"
          src="./images/team/1KatarzynaKazmierczak.jpg"
          alt="Katarzyna Kaźmierczak"
        />
        <p class="authors__name">
          <a href="https://github.com/KasiaKaz14" class="authors__name--github"
            ><svg width="18" height="18">
              <use href="./images/github.svg#icon-github"></use></svg></a
          >Katarzyna Kaźmierczak
        </p>
        <p class="authors__function">Developer</p>
      </div>
      <div class="authors__card">
        <img class="authors__image" src="./images/team/1MarzenaLojko.jpg" alt="Marzena Łojko" />
        <p class="authors__name">
          <a href="https://github.com/MarzenaLojko" class="authors__name--github"
            ><svg width="18" height="18">
              <use href="./images/github.svg#icon-github"></use></svg></a
          >Marzena Łojko
        </p>
        <p class="authors__function">Developer</p>
      </div>
      <div class="authors__card">
        <img class="authors__image" src="./images/team/1BartoszZygmunt.jpg" alt="Bartosz Zygmunt" />
        <p class="authors__name">
          <a href="https://github.com/BartoszZygmunt" class="authors__name--github"
            ><svg width="18" height="18">
              <use href="./images/github.svg#icon-github"></use></svg></a
          >Bartosz Zygmunt
        </p>
        <p class="authors__function">Developer</p>
      </div>
      <div class="authors__card">
        <img class="authors__image" src="./images/team/1EwaSawczynska.jpg" alt="Ewa Sawczyńska" />
        <p class="authors__name">
          <a href="https://github.com/ewasawczynska" class="authors__name--github"
            ><svg width="18" height="18">
              <use href="./images/github.svg#icon-github"></use></svg></a
          >Ewa Sawczyńska
        </p>
        <p class="authors__function">Developer</p>
      </div>
    </div>
  </div>
</section>
