<section class="footer__modal">
  <div class="footer__modal-content">
    <span id="footer__close-btn">&times;</span>
    <div class="authors">
      <h2 class="authors__function">Team Leader</h2>
      <p class="authors__name">Grzegorz Kobuszewski</p>
      <h2 class="authors__function">Scrum Master</h2>
      <p class="authors__name">Paulina Cichowska</p>
      <h2 class="authors__function">Developers</h2>
      <p class="authors__name">Jakub Nowacki</p>
      <p class="authors__name">Olga Kopeć</p>
      <p class="authors__name">Damian Kowalczyk</p>
      <p class="authors__name">Katarzyna Kaźmierczak</p>
      <p class="authors__name">Marzena Łojko</p>
      <p class="authors__name">Bartosz (Nazwisko)</p>
      <p class="authors__name">Ewa Sawczyńska</p>
    </div>
  </div>
</section>
