<section class="gallery">
  <div class="container">
    <ul class="gallery_movies">
      <!-- * galerię dodać trzeba w JS - ta poniżej jest poglądowa -->
      <!-- ------------------------------------------- POCZĄTEK GALERII
      ------------------------------------------- -->
      <li class="movie-card">
        <img
          src="../src/images/modal/modal_desktop.jpg"
          alt="poster of..."
          loading="lazy"
          class="movie-card__image"
        />
        <div class="movie-card__text">
          <h2 class="movie-card__text--title">Tytuł</h2>
          <p class="movie-card__text--info"><span>Gatunek</span> | <span>ROK</span></p>
          <p>5.71</p>
        </div>
      </li>
      <li class="movie-card">
        <img
          src="../src/images/modal/modal_desktop.jpg"
          alt="poster of..."
          loading="lazy"
          class="movie-card__image"
        />
        <div class="movie-card__text">
          <h2 class="movie-card__text--title">Tytuł</h2>
          <p class="movie-card__text--info"><span>Gatunek</span> | <span>ROK</span></p>
          <p>5.71</p>
        </div>
      </li>
      <li class="movie-card">
        <img
          src="../src/images/modal/modal_desktop.jpg"
          alt="poster of..."
          loading="lazy"
          class="movie-card__image"
        />
        <div class="movie-card__text">
          <h2 class="movie-card__text--title">Tytuł</h2>
          <p class="movie-card__text--info"><span>Gatunek</span> | <span>ROK</span></p>
          <p>5.71</p>
        </div>
      </li>
      <li class="movie-card">
        <img
          src="../src/images/modal/modal_desktop.jpg"
          alt="poster of..."
          loading="lazy"
          class="movie-card__image"
        />
        <div class="movie-card__text">
          <h2 class="movie-card__text--title">Tytuł</h2>
          <p class="movie-card__text--info"><span>Gatunek</span> | <span>ROK</span></p>
          <p>5.71</p>
        </div>
      </li>
      <li class="movie-card">
        <img
          src="../src/images/modal/modal_desktop.jpg"
          alt="poster of..."
          loading="lazy"
          class="movie-card__image"
        />
        <div class="movie-card__text">
          <h2 class="movie-card__text--title">Tytuł</h2>
          <p class="movie-card__text--info"><span>Gatunek</span> | <span>ROK</span></p>
          <p>5.71</p>
        </div>
      </li>
      <li class="movie-card">
        <img
          src="../src/images/modal/modal_desktop.jpg"
          alt="poster of..."
          loading="lazy"
          class="movie-card__image"
        />
        <div class="movie-card__text">
          <h2 class="movie-card__text--title">Tytuł</h2>
          <p class="movie-card__text--info"><span>Gatunek</span> | <span>ROK</span></p>
          <p>5.71</p>
        </div>
      </li>

      <!-- ------------------------------------------- KONIEC GALERII
      ------------------------------------------- -->
    </ul>
    <div class="pagination_buttons"></div>
  </div>
</section>
