<section class="gallery">
    <div class="container">
        <ul class="gallery_movies">

            <!-- * galerię dodać trzeba w JS - ta poniżej jest poglądowa -->
            ------------------------------------------- POCZĄTEK GALERII -------------------------------------------
            <li>
                <img 
                    src='../src/images/modal/modal_desktop.jpg'
                    alt="poster of..."
                    loading="lazy" />
                <h2>Tytuł</h2>
                <div>
                    <p>
                        <span>Gatunek</span>
                        <span>| ROK</span>
                    </p>
                    <p>5.71</p>
                </div>
            </li>

            <li>
                <img src='../src/images/modal/modal_desktop.jpg' alt="poster of..." loading="lazy" />
                <h2>Tytuł</h2>
                <div>
                    <p>
                        <span>Gatunek</span>
                        <span>| ROK</span>
                    </p>
                    <p>5.71</p>
                </div>
            </li>

            <li>
                <img src='../src/images/modal/modal_desktop.jpg' alt="poster of..." loading="lazy" />
                <h2>Tytuł</h2>
                <div>
                    <p>
                        <span>Gatunek</span>
                        <span>| ROK</span>
                    </p>
                    <p>5.71</p>
                </div>
            </li>

            <li>
                <img src='../src/images/modal/modal_desktop.jpg' alt="poster of..." loading="lazy" />
                <h2>Tytuł</h2>
                <div>
                    <p>
                        <span>Gatunek</span>
                        <span>| ROK</span>
                    </p>
                    <p>5.71</p>
                </div>
            </li>
            
            <li>
                <img src='../src/images/modal/modal_desktop.jpg' alt="poster of..." loading="lazy" />
                <h2>Tytuł</h2>
                <div>
                    <p>
                        <span>Gatunek</span>
                        <span>| ROK</span>
                    </p>
                    <p>5.71</p>
                </div>
            </li>
            
            <li>
                <img src='../src/images/modal/modal_desktop.jpg' alt="poster of..." loading="lazy" />
                <h2>Tytuł</h2>
                <div>
                    <p>
                        <span>Gatunek</span>
                        <span>| ROK</span>
                    </p>
                    <p>5.71</p>
                </div>
            </li>

            ------------------------------------------- KONIEC GALERII -------------------------------------------

        </ul>
        <div class="pagination_buttons"></div>
    </div>
</section>