<header class="header">
    <div class="container">

        ------------------------------------------- POCZĄTEK NAGŁÓWKA -------------------------------------------
        <!-- LOGO + NAWIGACJA: Home, My Library -->
        <div>
            <div>
                filmoteka
            </div>
            <div>
                Home
            </div>
        </div>

        <!-- SEARCH INPUT -->
        <div>
            <form>
                <label>
                    <input />
                </label>
                <button>
                    <svg> IKONA LUPY </svg>
                </button>
            </form>
        </div>
        ------------------------------------------- KONIEC NAGŁÓWKA -------------------------------------------

    </div>
</header>