footer {
  background-color: $gray-footer-bg;
}
.footer {
  color: $gray-footer-text;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 9.9px;
  justify-content: center;
  // @media tablet and (min-width: 768px) {
  //   flex-wrap: nowrap;
  // flex-direction: row;
  //   gap: 3px;
  //   padding-top: 30px;
  //   padding-bottom: 30px;
  // }
  // @media desktop and (min-width: 1024px) {
  //   flex-wrap: nowrap;
  // flex-direction: row;
  //   gap: 3px;
  //   padding-top: 30px;
  //   padding-bottom: 28px;
  // }
  &__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    // @media tablet and (min-width: 768px) {
    //  font-size: 16px;
    // }
    // @media desktop and (min-width: 1024px) {
    //   font-size: 16px;
    // }
    &:first-child {
      padding-top: 28.71px;
      // @media tablet and (min-width: 768px) {
      //   padding-top: 0px;
      // }
      // @media desktop and (min-width: 1024px) {
      //   padding-top: 0px;
      // }
    }
    &:last-child {
      padding-bottom: 29.7px;
      // @media tablet and (min-width: 768px) {
      //   padding-bottom: 0px;
      // }
      // @media desktop and (min-width: 1024px) {
      //   padding-bottom: 0px;
      // }
    }
  }
  &__icon {
    fill: $orange;
    margin-left: 10px;
    margin-right: 10px;
  }
  &__button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: underline;
    &:hover,
    &:focus {
      color: $orange;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 3px;
    padding-top: 30px;
    padding-bottom: 30px;
    &__text {
      font-size: 16px;
      &:first-child {
        padding-top: 0px;
      }
      &:last-child {
        padding-bottom: 0px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 3px;
    padding-top: 30px;
    padding-bottom: 28px;
    &__text {
      font-size: 16px;
      &:first-child {
        padding-top: 0px;
      }
      &:last-child {
        padding-bottom: 0px;
      }
    }
  }
}
