.modal {
  position: fixed;
  display: none;
  background-color: $white;
  color: $black;
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  @media screen and (max-width: 767px) {
    left: 10%;
    top: 20px;
    width: 280px;
    height: 940px;
    flex-shrink: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 704px;
    height: 552px;
  }
  @media screen and (min-width: 1200px) {
    width: 806px;
    height: 558;
    top: 150px;
    left: 20%;
  }
}

//treść okna modalnego

.modal-content {
  @media screen and (max-width: 767px) {
    padding-top: 48px;
    padding-left: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 36px;
    width: 704px;
    height: 552px;
    padding-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    width: 806px;
    height: 558;
    padding-top: 40px;
    padding-left: 12px;
    padding-top: 40px;
  }
}

//style zdjęć filmów

.modal-image {
  border-radius: 5px;
  @media screen and (max-width: 767px) {
    width: 240px;
    height: 357px;
    flex-shrink: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 264px;
    height: 373.551px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 100%;
    width: 375px;
    height: 478px;
  }
}

//przycisk do zamykania okna modalnego

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  cursor: pointer;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.close-btn:hover {
  color: $gray-modal-tex;
  cursor: pointer;
}

//style ogólne przycisków

.button {
  display: flex;
  gap: 15px;
  @media screen and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: absolute;
    bottom: 30px;
    left: 310px;
    margin-left: 68px;
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    bottom: 111px;
    left: 411px;
  }
}

//szczegółowe style dla przycisków

.add-btn {
  display: flex;
  border-radius: 5px;
  border: 1px solid $black;
  background-color: $white;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    width: 110px;
    height: 44px;
    flex-shrink: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 125.032px;
    height: 44px;
    flex-shrink: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 136px;
    height: 44px;
  }
}

.add-btn:hover {
  background-color: $orange-buttons;
  color: $white;
  cursor: pointer;
}

//style dużego tytułu filmu

.film-title {
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    font-size: 20px;
    padding-top: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: absolute;
    bottom: 493px;
    left: 310px;
    margin-left: 68px;
    height: 20px;
    flex-shrink: 0;
    font-size: 20px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    bottom: 481px;
    left: 403px;
    font-size: 30px;
  }
}

//style ogólne dla detali filmów

.film-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: $gray-modal-tex;

  line-height: 16px; /* 133.333% */
  @media screen and (max-width: 767px) {
    padding-top: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: absolute;
    bottom: 380px;
    left: 310px;
    margin-left: 68px;
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    bottom: 379px;
    left: 403px;
  }
}

//style oceny średniej filmów

.film-rating {
  position: absolute;
  border-radius: 5px;
  background-color: $orange-buttons;
  color: $white;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  width: 36px;
  height: 16px;
  flex-shrink: 0;
  @media screen and (max-width: 767px) {
    left: 128px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 68px;
    left: 88px;
  }
  @media screen and (min-width: 1200px) {
    left: 158px;
  }
}

//style ukośnika przy ocenie

.slash {
  position: absolute;
  @media screen and (max-width: 767px) {
    left: 168px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 196px;
  }
  @media screen and (min-width: 1200px) {
    left: 200px;
  }
}

//style ogólnej liczby głosów

.votes {
  position: absolute;
  left: 200px;
  color: $black;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: $gray-footer-bg;
  width: 36px;
  height: 16px;
  flex-shrink: 0;
  @media screen and (max-width: 767px) {
    left: 179px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 206px;
  }
  @media screen and (min-width: 1200px) {
    left: 212px;
  }
}

//style popularity

.film-popularity {
  color: $black;
  text-transform: uppercase;
  padding-left: 97px;
  @media screen and (max-width: 767px) {
    padding-left: 53px;
  }
}

//style tytułu w detalach

.film-original-title {
  color: $black;
  line-height: 16px; /* 133.333% */
  padding-left: 83px;
  @media screen and (max-width: 767px) {
    padding-left: 39px;
  }
}

//gatunek filmu

.film-genere {
  color: $black;
  line-height: 16px; /* 133.333% */
  padding-left: 120px;
  @media screen and (max-width: 767px) {
    padding-left: 76px;
  }
}

//opis filmu + about

.film-description {
  color: $black;
  line-height: 20px; /* 133.333% */
  margin-right: 12px;
  line-height: 20px;
  @media screen and (max-width: 767px) {
    padding-top: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: absolute;
    bottom: 100px;
    left: 310px;
    display: flex;
    flex-direction: column;
    margin-left: 68px;
    padding-top: 18px;
    padding-right: 52px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    bottom: 175px;
    left: 401px;
    margin-right: 12px;
  }
}

//style słowa about

.about {
  text-transform: uppercase;
  line-height: 16px;
  padding-bottom: 8px;
}
