.modal {
  display: flex;
  position: relative;
  background-color: $white;
  color: $black;
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 767px) {
    width: 280px;
    height: 940px;
    flex-shrink: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 704px;
    height: 552px;
  }
  @media screen and (min-width: 1200px) {
    width: 806px;
    height: 558;
  }
}

//treść okna modalnego

.modal-content {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 767px) {
    padding: 12px;
    // padding-top: 20px;
    // padding-left: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    // padding-left: 36px;
    // padding-top: 40px;
    padding: 12px;
    width: 704px;
    height: 552px;
  }
  @media screen and (min-width: 1200px) {
    width: 806px;
    height: 558;
    // padding-top: 40px;
    // padding-left: 12px;
    padding: 12px;
  }
}

//style zdjęć filmów

.modal-image {
  border-radius: 5px;
  @media screen and (max-width: 767px) {
    width: 240px;
    height: 357px;
    flex-shrink: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 264px;
    height: 373.551px;
  }
  @media screen and (min-width: 1200px) {
    // max-width: 100%;
    width: 375px;
    height: 478px;
  }
}

//przycisk do zamykania okna modalnego

.close-btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  cursor: pointer;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.close-btn:hover {
  color: $gray-modal-tex;
  cursor: pointer;
}

//style ogólne przycisków

.modalButton {
  display: flex;
  gap: 15px;
  @media screen and (max-width: 767px) {
    margin-top: 20px;
    margin-left: 10px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 20px;
    margin-left: 68px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 20px;
    margin-left: 24px;
  }
}

//szczegółowe style dla przycisków

.watched-btn-modal,
.queue-btn-modal {
  display: flex;
  border-radius: 5px;
  border: 1px solid $black;
  background-color: $white;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    width: 110px;
    height: 44px;
    flex-shrink: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 125.032px;
    height: 44px;
    flex-shrink: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 136px;
    height: 44px;
  }
}

.watched-btn-modal:hover,
.queue-btn-modal:hover {
  background-color: $orange-buttons;
  color: $white;
  cursor: pointer;
}

//style dużego tytułu filmu

.film-title {
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    font-size: 20px;
    padding-top: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    // position: absolute;
    bottom: 493px;
    left: 310px;
    margin-left: 68px;
    height: 20px;
    flex-shrink: 0;
    font-size: 20px;
  }
  @media screen and (min-width: 1200px) {
    // position: absolute;
    bottom: 481px;
    left: 403px;
    font-size: 30px;
  }
}

//style ogólne dla detali filmów

.film-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: $gray-modal-tex;

  line-height: 16px; /* 133.333% */
  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 68px;
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 20px;
  }
}

//style oceny średniej filmów

.film-rating {
  // position: absolute;
  border-radius: 5px;
  background-color: $orange-buttons;
  color: $white;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  width: 36px;
  height: 16px;
  flex-shrink: 0;
  @media screen and (max-width: 767px) {
    margin-left: 41px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 85px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 85px;
  }
}

//style ukośnika przy ocenie

.slash {
  // position: absolute;
  @media screen and (max-width: 767px) {
    left: 168px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 196px;
  }
  @media screen and (min-width: 1200px) {
    left: 200px;
  }
}

//style ogólnej liczby głosów

.votes {
  // position: absolute;
  left: 200px;
  color: $black;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: $gray-footer-bg;
  width: 36px;
  height: 16px;
  flex-shrink: 0;
  @media screen and (max-width: 767px) {
    left: 179px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 206px;
  }
  @media screen and (min-width: 1200px) {
    left: 212px;
  }
}

//style popularity

.film-popularity {
  color: $black;
  text-transform: uppercase;
  padding-left: 97px;
  @media screen and (max-width: 767px) {
    padding-left: 53px;
  }
}

//style tytułu w detalach

.film-original-title {
  color: $black;
  line-height: 16px; /* 133.333% */
  padding-left: 83px;
  @media screen and (max-width: 767px) {
    padding-left: 39px;
  }
}

//gatunek filmu

.film-genere {
  color: $black;
  line-height: 16px; /* 133.333% */
  padding-left: 120px;
  @media screen and (max-width: 767px) {
    padding-left: 76px;
  }
}

//opis filmu + about

.film-description {
  color: $black;
  line-height: 20px; /* 133.333% */
  margin-top: 20px;
  margin-right: 12px;
  line-height: 20px;
  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    margin-left: 68px;
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 20px;
    margin-right: 12px;
  }
}

//style słowa about

.about {
  text-transform: uppercase;
  line-height: 16px;
  padding-bottom: 8px;
}

//styl tła modala - na całą stronę
.backdrop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.detailsInfo {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.leftSideDetails {
  padding-top: 28px;
}

.rightSideDetails {
  padding-top: 28px;
  @media screen and (max-width: 767px) {
    padding-left: 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 16px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 16px;
  }
}
