.gallery {
  min-width: 320px;
  max-width: 767px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  &_movies {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 35px;
    justify-content: center;
    flex-direction: column;
  }
}

.movie-card {
  min-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  &__image {
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    box-shadow: 1px 1px 24px -6px rgba(0, 0, 0, 1);
    &:hover,
    &:focus {
      transition: $shift;
      scale: 103%;
      border: 5px solid $orange;
      // box-shadow: 1px 1px 24px 7px rgba(255, 107, 8, 1);
    }
  }
  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    font-family: $main-font;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &--title {
      color: $black;
      text-transform: uppercase;
      font-size: 16px;
    }
    &--info {
      color: $orange;
      line-height: 14px;
      font-weight: 300;
    }
    &--vote {
      background-color: $orange;
      border-top-right-radius: 35%;
      border-bottom-left-radius: 35%;
      color: $white;
      font-size: 18px;
      font-weight: 500;
      height: 40px;
      line-height: 40px;
      text-align: center;
      width: 80px;
    }
  }
}

.movie-card > .movie-card__text > .movie-card__text--vote {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .gallery {
    min-width: 768px;
    max-width: 1023px;
    margin: 39px auto 60px auto;
    &_layout {
      padding: 0;
    }
    &_movies {
      flex-direction: row;
      row-gap: 40px;
      column-gap: 25px;
      width: 768px;
      justify-content: center;
    }
  }

  .movie-card {
    flex-basis: calc((100% - 25px) / 2);
    max-width: 336px;
    gap: 14px;
  }
}

@media (min-width: 1024px) {
  .gallery {
    width: 100%;
    min-width: 1024px;
    max-width: 1280px;
    &_movies {
      flex-direction: row;
      padding-top: 60px;
      row-gap: 50px;
      column-gap: 30px;
      justify-content: center;
    }
  }

  .movie-card {
    flex-basis: calc((100% - 60px) / 3);
    max-width: 395px;
    gap: 20px;
    &__text {
      font-size: 20px;
      line-height: 2;
      &--title {
        font-size: 20px;
      }
    }
  }
}
