.header {
  width: 100%;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 50px;
  padding-bottom: 55px;
  color: $white;
  
  &__main {
    margin-bottom: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--library {
    background-image: url('../images/header_library.png');
      padding-bottom:60px;
      &__buttons {
        padding-top: 12px;
        display: flex;
        gap:20px;
        justify-content: center;
      }
    }
  &__title {
    display: flex;
    align-items:baseline;
    justify-content: center;
    gap: 10px;
    &__name {
      display: none;
      font-size: 37,5;
    }
    
  }
  &__nav {
    display: flex;
    gap: 50px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    &__active {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        border-radius: 2px;
        bottom: -2px;
        left: 0;
        background-color: $red;
      }
    }
  
  }

  &__form {
    position: relative;
    max-width: 320px;
    margin: 0 auto;
    &__input {
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $white;
      padding: 0;
      color: $white;
      &:hover{
        
        cursor: pointer;
      }
      &::placeholder {
        color: $white;
      }
    }
    &__icon {
      position: absolute;
      right: 0;
      &:hover{
        cursor: pointer;
      }
      }
      
    }
  }

  


@media screen and (min-width:768px) {
  .header {
    &__main {
      margin-bottom: 50px;
    }
    &__title {
      &__name {
        display: block;
      }
    }
    &__form {
      &__error {
        margin-top: 25px;
      }
    }
    &--library {
      &__buttons {
        padding-top: 0;
      }
    }
  }
}