.footer {
  &__button {
    cursor: pointer;
  }
  &__modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  &__modal-content {
    background-color: $gray-footer-bg;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 1%;
    box-shadow: 1px 0px 32px -10px rgba(255, 107, 8, 1);
    border: 1px solid $orange;
    width: 80%; /* Could be more or less, depending on screen size */
    position: relative;
  }
  &__close-btn {
    color: $gray-footer-text;
    position: absolute;
    font-size: 30px;
    right: 20px;
    top: 10px;
    font-weight: bold;
    &:hover,
    &:focus {
      color: $orange;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.authors {
  text-align: center;
  font-family: $main-font;
  &__function {
    color: $orange;
    padding-bottom: 10px;
    padding-top: 10px;
    &:first-child {
      padding-top: 0px;
    }
  }
  &__name {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    &__modal-content {
      width: 60%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    &__modal-content {
      width: 40%;
    }
  }
}
